.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

.bg-lightblue {
    background-color: #E7F6FD;
}

.navy {
    color: navy;
}

.white {
    color: white;
}

.black {
    color: black;
}