/* 메인화면 검색바 부분 */
div#search {
    padding: 1rem;
}

div#search > button {
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0.7rem;
}

div#search > button > svg {
    font-size: 1.3rem;
    color:#344073;
}

form#search-bar * {
    height: 3rem !important;
}


/* 분야 목록 */
article#hobby-type a {
    text-align: center;
    color: black;
}

article#hobby-type a:hover {
    text-decoration: none;
}

article#hobby-type img {
    width: 100%;
    border-radius: 10%;
}

article#hobby-type button{
    background-color:transparent;  
    border:0px transparent solid;
}
