/* 기본 */
body {
    font-family: "Nanum Gothic", sans-serif !important;
}

/* 내비게이션 바 */
nav {
    background-color: #E7F6FD;
}

nav > a.navbar-brand {
    font-family: "Gugi", cursive;
    font-size: 1.8rem;
}

nav li.navbar-text {
    font-family: "Gugi", cursive;
    font-size: 1.2rem;
    color: black !important;
}

nav a.nav-link {
    font-family: "Baloo Thambi 2", cursive;
    font-size: 1.3em;
    color: #344073 !important;
}

/* 푸터 */
footer {
    background-color: #E7F6FD;
    height: 7rem;

    margin-top: 2rem;
}