span.badge.badge-pill {
    font-size: 1.5rem;
    margin: 0.2rem;
}

div#filter
{
    padding: 0.5rem;
}

span
{
    color:#F78181;
    font-family: "Gugi", cursive;
}

div#filter > svg {
    font-size: 1.1rem;
    color:#F78181;
}

div#filter > button {
    color: #4E4E4E;
    font-weight: bold;
    font-size: 0.95rem;
    margin: 1rem;
    background-color: #CEECF5;
}

div#filter > button > svg {
    color:#F78181;
}

/* infowindow 크기 */
#MarkerText
{
    width:285px;
    height:130px;
}

/* 버튼 css */
#subcat
{
    margin-right: 60px;
    width: 205px;
    height: 40px;
    font-size: 0.625em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

#subcat:hover
{
    background-color: #bee1f8;
    box-shadow: 0px 15px 20px rgba(21, 141, 202, 0.2);
    color: #fff;
    transform: translateY(-7px);
}

#subcat > a:link 
{
    color:black; text-decoration: none;
}

#subcat > a:visited
{
    color:black; text-decoration: none;
}

#subcat > a:hover
{
    color:black; text-decoration: none;
}

/* 자세히보기, 좋아요, 즐겨찾기 버튼 */
button#detail,button#like,button#star{
    background:#0D0259;
    color:#fff;
    border:none;
    position:relative;
    height:39px;
    font-size:1.0em !important;
    margin-left: 0.8em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}
button#star
{
    background:#0D0259 !important;
}
button#like
{
    background:#0D0259 !important;
}

button#detail:hover{
    background:#fff !important;
    color:#0D0259 !important;
    text-decoration: none !important;
}
button#star:hover{
    background:#fff !important;
    color:#0D0259 !important;
    text-decoration: none !important;
}
button#like:hover{
    background:#fff !important;
    color:#0D0259 !important;
    text-decoration: none !important;
}


button#detail:before,button#detail:after,button#star:before,button#star:after,button#like:before,button#like:after{
content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #0D0259;
    transition:400ms ease all;
}
button#star:before,button#star:after
{
    background:#0D0259 !important;
}
button#like:before,button#like:after
{
    background:#0D0259 !important;
}

button#detail:after,button#like:after,button#star:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}

button#detail:hover:before,button#detail:hover:after,button#like:hover:before,button#like:hover:after,button#star:hover:before,button#star:hover:after{
    width:100%;
    transition:800ms ease all;
}

/* list style */
h4 /*제목*/
{
    color:#1b1350;
    text-align:center;
    font-size:31px;
    font-family: "Do Hyeon", cursive; /* "Do Hyeon", cursive */
}

h2
{
    color:#555555;
    font-family: "Noto Sans KR", sans-serif;
    font-size:15px;
    text-align:center;
}

#output > li.list-group-item
{
    margin-top:50px; 
    margin-bottom:50px; 
    border-color:white; 
    border-radius: 40px 80px;
}

#output2 > li.list-group-item
{
    margin-top:50px; 
    margin-bottom:50px; 
    border-color:white; 
    border-radius: 40px 80px;
}