/* 기본 */
body {
    font-family: "Nanum Gothic", sans-serif !important;
}

/* 내비게이션 바 */
nav {
    background-color: #E7F6FD;
}

nav > a.navbar-brand {
    font-family: "Gugi", cursive;
    font-size: 1.6rem;
}

nav li.navbar-text {
    font-family: "Gugi", cursive;
    font-size: 1.1rem;
    color: black !important;
}

nav a.nav-link {
    font-family: "Baloo Thambi 2", cursive;
    font-size: 1.2em;
    color: navy !important;
}

/* 메인화면 검색바 부분 */
div#search {
    padding: 1rem;
}

div#search > button {
    color: black;
    font-weight: bold;
    margin: 0.5rem;
}

div#search > button > svg {
    font-size: 1.2rem;
    color: navy;
}

form#search-bar * {
    height: 3rem !important;
}


/* 분야 목록 */
article#hobby-type a {
    text-align: center;
    color: black;
}

article#hobby-type a:hover {
    text-decoration: none;
}

article#hobby-type img {
    width: 100%;
    border-radius: 10%;
}

/* 푸터 */
footer {
    background-color: #E7F6FD;
    height: 7rem;
}