extends layout

block content
  link(rel="stylesheet", href="/stylesheets/add.css")
  
  h1 장소를 추가합니다
  form(method="post" accept-charset="UTF-8")
    .form-group
      label.must(for="hobby_type") 분류
      select.form-control#hobby_type(name="hobby_type" value="분야를 선택해주세요")
        option 교양
        option 레포츠
        option 미술
        option 공예
        option 어학
        option 춤
        option 요리
        option 음악
        option 패션

    .form-group
      label.must(for="facility_name") 시설명
      input.form-control#facility_name(name="facility_name" value="" type="text")

    .form-group
      label.must(for="contact") 전화번호
      input.form-control#contact(name="contact" value="" type="text")

    .form-group
      label.must(for="address") 주소
      input.form-control#address(name="address" value="" type="text")

    .form-group
      label.must(for="business_number") 사업자번호
      input.form-control#business_number(name="business_number" value="" type="text")
      small 사업자번호는 허위 사실 기재 방지를 위해 입력해야 합니다.

    .form-group
      label(for="homepage") 사업장 홈페이지
      input.form-control#homepage(name="homepage" value="" type="text")

    hr

    .form-group(style="text-align: right;")
      button.btn(type="submit") 완료
