extends layout

block content
  link(rel="stylesheet", href="/stylesheets/best.css")
  br
  h1 현재 가장 인기있는 장소 TOP 20
  .container.best-list
    div.name CGV안성
    div 경기도 안성시 석정동 아양2로 109
    div
      span.badge.badge-pill.badge-info #교양
      span.badge.badge-pill.badge-info #영화관
    hr
    form.favorite-edit(action="")
      button.btn.btn-primary 자세히 보기
      button.btn.btn-success 즐겨찾기 설정

  .container.best-list
    div.name 안성맞춤아트홀 대공연장
    div 경기도 안성시 발화대길 21, 안성맞춤아트홀
    div
      span.badge.badge-pill.badge-info #교양
      span.badge.badge-pill.badge-info #공연장
    hr
    form.favorite-edit(action="")
      button.btn.btn-primary 자세히 보기
      button.btn.btn-success 즐겨찾기 설정

  .container.best-list
    div.name 안성 용인대 정도 태권도장
    div 경기도 안성시 중앙로302번길 17 (석정동)
    div
      span.badge.badge-pill.badge-info #레포츠
      span.badge.badge-pill.badge-info #스포츠
    hr
    form.favorite-edit(action="")
      button.btn.btn-primary 자세히 보기
      button.btn.btn-success 즐겨찾기 설정

  .container.best-list
    div.name 댄스인댄스스포츠스쿨
    div 경기도 안성시 중앙1길 9 (대천동)
    div
      span.badge.badge-pill.badge-info #춤
      span.badge.badge-pill.badge-info #무용
    hr
    form.favorite-edit(action="")
      button.btn.btn-primary 자세히 보기
      button.btn.btn-success 즐겨찾기 설정

  .container.best-list
    div.name 영재들의 미술상자 미술학원
    div 경기도 안성시 공도읍 기업단지로 57-15, 2층 (공도읍)
    div
      span.badge.badge-pill.badge-info #미술
      span.badge.badge-pill.badge-info #만화
    hr
    form.favorite-edit(action="")
      button.btn.btn-primary 자세히 보기
      button.btn.btn-success 즐겨찾기 설정
