extends layout

block content
  link(rel="stylesheet", href="/stylesheets/best.css")
  br
  h1 현재 가장 인기있는 장소 TOP 20
  -for(var i=0;i<20;i++) 
    .container.best-list
      div.name CGV안성
      div 경기도 안성시 석정동 아양2로 109
      div
        span.badge.badge-pill.badge-info #실내
        span.badge.badge-pill.badge-info #교양
      hr
      form.favorite-edit(action="")
        button.btn.btn-primary 자세히 보기
        button.btn.btn-success 즐겨찾기 설정
