extends layout

block content
  link(rel="stylesheet", href="/stylesheets/find.css")

  <!-- 선호 장소 질문 -->
  h1 원하는 장소 찾기
  form(action="/map")
    h2 당신이 선호하는 장소는?
    div.container.btn-group-toggle#question1(data-toggle="buttons")
      label.btn.btn-info.active 실내
        input#indoor(name="inout" value="indoor" type="radio" autocomplete="off" checked)
      label.btn.btn-info 실외
        input#outdoor(name="inout" value="outdoor" type="radio" autocomplete="off")

    
    h2.must 당신이 선호하는 분야는?
    div.container.btn-group-toggle#question2(data-toggle="buttons")
      label.btn.btn-info 교양
        input(type="checkbox" name="hobby-type" autocomplete="off" value="culture")
      label.btn.btn-info 레포츠
        input(type="checkbox" name="hobby-type" autocomplete="off" value="sport")
      label.btn.btn-info 미술
        input(type="checkbox" name="hobby-type" autocomplete="off" value="art")
      label.btn.btn-info 공예
        input(type="checkbox" name="hobby-type" autocomplete="off" value="craft")
      label.btn.btn-info 어학
        input(type="checkbox" name="hobby-type" autocomplete="off" value="language")
      label.btn.btn-info 춤
        input(type="checkbox" name="hobby-type" autocomplete="off" value="dance")
      label.btn.btn-info 요리
        input(type="checkbox" name="hobby-type" autocomplete="off" value="cook")
      label.btn.btn-info 음악
        input(type="checkbox" name="hobby-type" autocomplete="off" value="music")
      label.btn.btn-info 패션
        input(type="checkbox" name="hobby-type" autocomplete="off" value="fashion")
      
    hr

    input.btn(type="submit" value="검색")
