extends layout

block content
  link(rel="stylesheet", href="/stylesheets/find.css")

  <!-- 선호 장소 질문 -->
  h1 원하는 장소 찾기
  form(action="/map")
    h2 당신이 선호하는 장소는?
    div.container.btn-group-toggle#question1(data-toggle="buttons")
      label.btn.btn-info.active 실내
        input#indoor(name="inout" value="실내" type="radio" autocomplete="off" checked)
      label.btn.btn-info 실외
        input#outdoor(name="inout" value="실외" type="radio" autocomplete="off")

    
    h2.must 당신이 선호하는 분야는?
    div.container.btn-group-toggle#question2(data-toggle="buttons")
      label.btn.btn-info 교양
        input(type="checkbox" name="hobby-type" autocomplete="off" value="교양")
      label.btn.btn-info 레포츠
        input(type="checkbox" name="hobby-type" autocomplete="off" value="레포츠")
      label.btn.btn-info 미술
        input(type="checkbox" name="hobby-type" autocomplete="off" value="미술")
      label.btn.btn-info 공예
        input(type="checkbox" name="hobby-type" autocomplete="off" value="공예")
      label.btn.btn-info 어학
        input(type="checkbox" name="hobby-type" autocomplete="off" value="어학")
      label.btn.btn-info 춤
        input(type="checkbox" name="hobby-type" autocomplete="off" value="춤")
      label.btn.btn-info 요리
        input(type="checkbox" name="hobby-type" autocomplete="off" value="요리")
      label.btn.btn-info 음악
        input(type="checkbox" name="hobby-type" autocomplete="off" value="음악")
      label.btn.btn-info 패션
        input(type="checkbox" name="hobby-type" autocomplete="off" value="패션")
      
    hr

    input.btn(type="submit" value="검색")
