extends layout

block content
  link(rel="stylesheet", href="/stylesheets/home.css")
  
  div(style="height: 2em;")
  div.text-center#search
    button.btn.h-100(onclick="location.href='/test'" type="button") 취미분석 
      i.fas.fa-chart-pie
    button.btn.h-100(onclick="location.href='/place/add'") 장소추가 
      i.fas.fa-plus-circle
    button.btn.h-100(onclick="location.href='/place/best'") 인기장소 
      i.fas.fa-heart
  div.row
    div.col-sm-2
    div.col-sm-8
      form.input-group.row#search-bar
        input.form-control(type="search" placeholder="장소를 검색해주세요")
        div.input-group-append
          button.btn(type="button" style="background-color: #010E4F; font-size: 1.2rem; padding: 0px 10px 10px 10px;" onclick="location.href='/placedetail?name=CGV 안성&latitude=37.0121906&longitude=127.2571551'")
            i.fas.fa-search.white
    div.col-sm-2
  br
  div(style="height: 2rem;")

  article.row#hobby_type
    .col-6.col-sm-4.col-md-2
      button(id="book" onclick="location.href='/map?hobby_type=교양'")
        img.max-small(src='/images/movie.PNG' id='place')
        h3(style="font-family: 'Noto Sans KR', sans-serif;") 교양
        p(style="font-family: 'Nanum Gothic', sans-serif; font-size:10pt; font-color:gray;") 영화관 전시관
    
    .col-6.col-sm-4.col-md-2
      button(id="jam" onclick="location.href='/map?hobby_type=레포츠'")
        img.max-small(src='/images/sport.PNG')
        h3(style="font-family: 'Noto Sans KR', sans-serif;") 레포츠
        p(style="font-family: 'Nanum Gothic', sans-serif; font-size:10pt; font-color:gray;") 스포츠 등산로 산책로
    
    .col-6.col-sm-4.col-md-2
      button(id="art" onclick="location.href='/map?hobby_type=미술'")
        img.max-small(src='/images/art.PNG' id='place')
        h3(style="font-family: 'Noto Sans KR', sans-serif;") 미술
        p(style="font-family: 'Nanum Gothic', sans-serif; font-size:10pt; font-color:gray;") 만화 소묘

    .col-6.col-sm-4.col-md-2
      button(id="flower" onclick="location.href='/map?hobby_type=공예'")
        img.max-small(src='/images/diy.PNG' id='place')
        h3(style="font-family: 'Noto Sans KR', sans-serif;") 공예
        p(style="font-family: 'Nanum Gothic', sans-serif; font-size:10pt; font-color:gray;") 꽃기예 꽃꽂이 종이접기
    
    .col-6.col-sm-4.col-md-2
      button(id="study" onclick="location.href='/map?hobby_type=어학'")
        img.max-small(src='/images/language.PNG' id='place')
        h3(style="font-family: 'Noto Sans KR', sans-serif;") 어학
        p(style="font-family: 'Nanum Gothic', sans-serif; font-size:10pt; font-color:gray;") 영어학원 논술학원
    
    .col-6.col-sm-4.col-md-2
      button(id="dance" onclick="location.href='/map?hobby_type=춤'")
        img.max-small(src='/images/dance.PNG' id='place')
        h3(style="font-family: 'Noto Sans KR', sans-serif;") 춤
        p(style="font-family: 'Nanum Gothic', sans-serif; font-size:10pt; font-color:gray;") 댄스 무용 연극
    
    .col-6.col-sm-4.col-md-2
      button(id="cook" onclick="location.href='/map?hobby_type=요리'")
        img.max-small(src='/images/cook.PNG' id='place')
        h3(style="font-family: 'Noto Sans KR', sans-serif;") 요리
        p(style="font-family: 'Nanum Gothic', sans-serif; font-size:10pt; font-color:gray;") 바리스타 소믈리에
    
    .col-6.col-sm-4.col-md-2
      button(id="music" onclick="location.href='/map?hobby_type=음악'")
        img.max-small(src='/images/music.PNG' id='place')
        h3(style="font-family: 'Noto Sans KR', sans-serif;") 음악
        p(style="font-family: 'Nanum Gothic', sans-serif; font-size:10pt; font-color:gray;") 드럼 피아노 노래방
    
    .col-6.col-sm-4.col-md-2
      button(id="fashion" onclick="location.href='/map?hobby_type=패션'")
        img.max-small(src='/images/beauty.PNG' id='place')
        h3(style="font-family: 'Noto Sans KR', sans-serif;") 패션
        p(style="font-family: 'Nanum Gothic', sans-serif; font-size:10pt; font-color:gray;") 메이크업