extends layout

block content
  link(rel="stylesheet", href="/stylesheets/home.css")
  
  div(style="height: 2em;")
  div.text-center#search
    button.btn.h-100(type="button" onclick="location.href='/place'") 장소추천 
      i.fas.fa-map-marker-alt
    button.btn.h-100(onclick="location.href='/place/add'") 장소추가 
      i.fas.fa-plus-square
    button.btn.h-100(onclick="location.href='/place/best'") 인기장소 
      i.fas.fa-heart
  div.row
    div.col-sm-2
    div.col-sm-8
      form.input-group.row#search-bar
        input.form-control(type="search" placeholder="장소를 검색해주세요")
        div.input-group-append
          button.btn(type="button" style="background-color: #010E4F;")
            i.fas.fa-search.white
    div.col-sm-2

  div(style="height: 2rem;")

  article.row#hobby-type
    .col-6.col-sm-4.col-md-2
      a(href='/place')
        img.max-small(src='/images/movie.PNG')
        h3(style="font-family: 'Noto Sans KR', sans-serif;") 교양
        p(style="font-family: 'Nanum Gothic', sans-serif; font-size:10pt; font-color:gray;") 영화관 전시관
    
    .col-6.col-sm-4.col-md-2
      a(href='/place' style="color:black;")
        img.max-small(src='/images/sport.PNG')
        h3(style="font-family: 'Noto Sans KR', sans-serif;") 레포츠
        p(style="font-family: 'Nanum Gothic', sans-serif; font-size:10pt; font-color:gray;") 스포츠 등산로 산책로
    
    .col-6.col-sm-4.col-md-2
      a(href='/place' style="color:black;")
        img.max-small(src='/images/art.PNG')
        h3(style="font-family: 'Noto Sans KR', sans-serif;") 미술
        p(style="font-family: 'Nanum Gothic', sans-serif; font-size:10pt; font-color:gray;") 만화 소묘

    .col-6.col-sm-4.col-md-2
      a(href='/place' style="color:black;")
        img.max-small(src='/images/diy.PNG')
        h3(style="font-family: 'Noto Sans KR', sans-serif;") 공예
        p(style="font-family: 'Nanum Gothic', sans-serif; font-size:10pt; font-color:gray;") 꽃기예 꽃꽂이 종이접기
    
    .col-6.col-sm-4.col-md-2
      a(href='/place' style="color:black;")
        img.max-small(src='/images/language.PNG')
        h3(style="font-family: 'Noto Sans KR', sans-serif;") 어학
        p(style="font-family: 'Nanum Gothic', sans-serif; font-size:10pt; font-color:gray;") 영어학원 논술학원
    
    .col-6.col-sm-4.col-md-2
      a(href='/place' style="color:black;")
        img.max-small(src='/images/dance.PNG')
        h3(style="font-family: 'Noto Sans KR', sans-serif;") 춤
        p(style="font-family: 'Nanum Gothic', sans-serif; font-size:10pt; font-color:gray;") 댄스 무용 연극
    
    .col-6.col-sm-4.col-md-2
      a(href='/place' style="color:black;")
        img.max-small(src='/images/cook.PNG')
        h3(style="font-family: 'Noto Sans KR', sans-serif;") 요리
        p(style="font-family: 'Nanum Gothic', sans-serif; font-size:10pt; font-color:gray;") 바리스타 소믈리에
    
    .col-6.col-sm-4.col-md-2
      a(href='/place' style="color:black;")
        img.max-small(src='/images/music.PNG')
        h3(style="font-family: 'Noto Sans KR', sans-serif;") 음악
        p(style="font-family: 'Nanum Gothic', sans-serif; font-size:10pt; font-color:gray;") 드럼 피아노 노래방
    
    .col-6.col-sm-4.col-md-2
      a(href='/place' style="color:black;")
        img.max-small(src='/images/beauty.PNG')
        h3(style="font-family: 'Noto Sans KR', sans-serif;") 패션
        p(style="font-family: 'Nanum Gothic', sans-serif; font-size:10pt; font-color:gray;") 메이크업


