extends layout

block content
  link(rel="stylesheet", href="/stylesheets/map.css")
  link(rel="stylesheet", href="/stylesheets/test.css")
  script(src="/javascripts/category.js")
  <!-- 실내외 / 분야 다 선택한 뒤 나올 화면-->
  br
  h1 당신에게 추천하는 장소는?
  span.badge.badge-pill.badge-info #{hobby_type}

  div#map(style="height: 300px; background-color: orange;") 여기에 지도가 들어감
  br
  ul.list-group(id='output')
