extends layout

block content
  link(rel="stylesheet", href="/stylesheets/map.css")
  link(rel="stylesheet", href="/stylesheets/home.css")
  link(rel="stylesheet", href="/stylesheets/test.css")
  script(src="/javascripts/map.js")
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDisIjvcok9Z6WtoPPNA7PLzXoRf7B4rw"
  async defer)
  <!-- 세부 카테고리-->
  div#subcategory

  <!-- 사용자 선택 필드랑 지도 -->
  br
  div(style="height: 2em;")
  div.text-center#search
    button.btn.h-100(id=search type="button" onclick="sorting_name()") 가나다 순
      i.fas.fa-sort-alpha-down
    button.btn.h-100(type="button" onclick="sorting_dis()") 거리 순
      i.fas.fa-map-marked-alt
    button.btn.h-100(type="button" onclick="sorting_like()") 인기 순 
      i.fas.fa-thumbs-up
  h1 당신에게 추천하는 장소는?
  
  div#map(style="width:100%;height:350px;")
  br
  ul.list-group(id='output')

  script(src="/javascripts/category.js")