extends layout

block content
  link(rel="stylesheet", href="/stylesheets/home.css")
  
  div(style="height: 2em;")
  div.text-center#search
    button.btn.h-100(onclick="location.href='/test'" type="button") 취미분석 
      i.fas.fa-chart-pie
    button.btn.h-100(type="button" onclick="location.href='/find'") 장소추천 
      i.fas.fa-map-marker-alt
    button.btn.h-100(onclick="location.href='/place/add'") 장소추가 
      i.fas.fa-plus-circle
    button.btn.h-100(onclick="location.href='/place/best'") 인기장소 
      i.fas.fa-heart
  div.row
    div.col-sm-2
    div.col-sm-8
      form.input-group.row#search-bar
        input.form-control(type="search" placeholder="장소를 검색해주세요")
        div.input-group-append
          button.btn(type="button" style="background-color: #010E4F; font-size: 1.2rem; padding: 0px 10px 10px 10px;")
            i.fas.fa-search.white
    div.col-sm-2
  br
  div(style="height: 2rem;")
  <script src="place_jam.js"> </script>

  .here