extends layout

block content
  link(rel="stylesheet", href="/stylesheets/home.css")
  link(rel="stylesheet", href="/stylesheets/test.css")
  
  div(style="height: 2em;")
  div.text-center#search
    button.btn.h-100(onclick="location.href='/test'" type="button") 취미분석 
      i.fas.fa-chart-pie
    button.btn.h-100(type="button" onclick="location.href='/find'") 장소추천 
      i.fas.fa-map-marker-alt
    button.btn.h-100(onclick="location.href='/place/add'") 장소추가 
      i.fas.fa-plus-circle
    button.btn.h-100(onclick="location.href='/place/best'") 인기장소 
      i.fas.fa-heart
  div.row
    div.col-sm-2
    div.col-sm-8
      form.input-group.row#search-bar
        input.form-control(type="search" placeholder="장소를 검색해주세요")
        div.input-group-append
          button.btn(type="button" style="background-color: #010E4F; font-size: 1.2rem; padding: 0px 10px 10px 10px;")
            i.fas.fa-search.white
    div.col-sm-2

  br
  br
  h1 어떤 취미가 잘 맞을까요?
  br
  div.jumbotron
    .container
      p 커리어넷-진로심리검사 OPEN API 키 발급 대기중
  <!--검사 inspct.career.go.kr/openapi/test/questions?apikey=인증키&q=심리검사변수 >
  <!--결과 inspct.career.go.kr/openapi/test/report?apikey=인증키&qestrnSeq=심리검사변수>
  <!--결과 타입에 따라 다르게 사용자에게 이미지 보여주고 싶음 (images 폴더에 만들어놓음)-->
  hr
  br
  h1 당신의 홀랜드 유형은?
  .container
    p 예술형이 결과에 나왔다고 가정하면...
    img(src='/images/artistic.png' style="height: 21em;")